doctype html
html
    head
        style
            include style.css
    body
        div.main
            | Hey there!
        div.block
            block content
        div.footer
            | Have a nice day!
            br
            a(href = frontendURL) Inox course Node.js
            | testing Email while study
            br
            |
            a(href='https://google.com') go to Google


