block content
    div
        | Hello #{userName}
        | Ти забув пароль і тепер хочеш встановити новий.
        | Перейди за цією лінкою щоб встановити
        | http://my_app_mongoose/auth/forgotPassword?token=#{token_url}